Repository opendatateam/udata, pull requests merged in 2019-08, with the labels that each got.

#2273 OEmbed card for organization
  CHANGELOG.md
  udata/features/oembed/api.py
  udata/templates/organization/card.html
  udata/templates/organization/oembed.html
  udata/tests/api/test_oembed_api.py
Labels: enhancement

#2275 Configurable search
  CHANGELOG.md
  docs/adapting-settings.md
  udata/core/dataset/search.py
  udata/core/organization/search.py
  udata/core/reuse/search.py
  udata/core/user/search.py
  udata/search/__init__.py
  udata/search/adapter.py
  udata/search/fields.py
  udata/settings.py
  udata/tests/search/__init__.py
Labels: documentation, enhancement, search

#2268 Prevent DoesNotExist failure on activity API (fix #2227)
  CHANGELOG.md
  udata/core/activity/api.py
Labels: api, bug

#2277 Optimize CSV generation
  udata/core/dataset/tasks.py
Labels: performance
